    /* Imports */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');  
    /* Main */

body {
    min-width: 1345px;
    height: 3973px;

    min-width: 100vh;
    background: #030812;
    color: #fff;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

    /* cent - centring */

.cent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

    /* Header */

.header {
    width: 100%;
    height: 45px;
    padding-top: 45px;
}

.navItem {
    height: 40px;
}

.logo {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;

}
.preSpan {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    color: #FC4F4F;
    text-transform: uppercase ;
}

.subNav {
    height: 100%;
    width: 100%;
}

.borderBtn {

    width: 150px;
    height: 40px;

    font-weight: 500;
    color: #FC4F4F;
    background-color: #030812;

    border: 1px solid #FC4F4F;
    border-radius: 10px;
    padding: 10px;

    transition: .4s ease-in-out;
}
.borderBtn:hover {
    background-color: #FC4F4F;
    color: #030812;
    border: 1px solid #030812;
}

.links {
    transition: .4s ease-in-out;
}

.links:hover {
    color: #FC4F4F;
}

    /* Main */

.main {
    width: 100%;
}

    /* Intro */

.introContent {
    width: 100%;

    padding: 192px 0px 100px 0px;
}

.title {
    width: 510px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;

}

.titleGrdnt {
    background: linear-gradient(140.62deg, rgba(255, 255, 255, 0.5) -3.54%, #FFFFFF 26.28%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.titleSpan {
    color: #FC4F4F !important;
}

.subTitle {
    width: 500px;
    padding: 28px 0px;
    color: #B2B2B2;
}

.introInfo div {
    gap: 40px;
}

@keyframes animSolidBtn {
    from {
        background: linear-gradient(234.84deg, #FDAE8F 15.44%, #FD1C68 85.65%);
    }
    10% {
        background: linear-gradient(224.84deg, #FDAE8F 15.44%, #FD1C68 85.65%);
    } 
    20% {
        background: linear-gradient(214.84deg, #FDAE8F 15.44%, #FD1C68 85.65%);
    } 
    30% {
        background: linear-gradient(204.84deg, #FDAE8F 15.44%, #FD1C68 85.65%);
    } 
    40% {
        background: linear-gradient(194.84deg, #FDAE8F 15.44%, #FD1C68 85.65%);
    } 
    50% {
        background: linear-gradient(184.84deg, #FDAE8F 15.44%, #FD1C68 85.65%);
    } 
    60% {
        background: linear-gradient(174.84deg, #FDAE8F 15.44%, #FD1C68 85.65%);
    } 
    70% {
        background: linear-gradient(164.84deg, #FDAE8F 15.44%, #FD1C68 85.65%);
    } 
    80% {
        background: linear-gradient(154.84deg, #FDAE8F 15.44%, #FD1C68 85.65%);
    } 
    90% {
        background: linear-gradient(144.84deg, #FDAE8F 15.44%, #FD1C68 85.65%);
    }

    to {
        background: linear-gradient(134.84deg, #FDAE8F 15.44%, #FD1C68 85.65%);
    }
  }

.solidBtn {
    width: 150px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    background: linear-gradient(234.84deg, #FDAE8F 15.44%, #FD1C68 85.65%);
    color: #000;
    border-radius: 10px;
    transition: .4s ease-in-out;
}

.solidBtn:hover {
    animation-duration: .4s;
    animation-name: animSolidBtn;
    animation-direction:reverse;
}

.learnMoreSpan {
    margin: 0px 7px;
}

.learnMoreBtn {
 
    width: 185px;
    font-weight: 300;

    color: #FFFFFF;
    border: 0.5px solid #FFFFFF;
}


.learnMoreBtn:hover {
    color: #fff;
    background-color: #030812;
}

.learnMoreSvg {
    color: #FC4F4F;
}

.titleImg {
    position: absolute;
    width: 533px;
    height: 360px;

    background: url(./src/img/meta.jpg);
    background-size: 100%;
    border-radius: 70px 10px;
}

.svgPreImg {
    box-sizing: border-box;

    position: relative;
    left: 25px;
    top: 25px;
    z-index: -1;
}

    /* Menu */

.menu {
    height: 696px;  
}

.menuTitle {
    height: 48px;
    font-size: 32px;
    text-align: center;
}

.menuTitleSpan {
    color: #FC4F4F;
    font-weight: 600;
}

.panel {
    box-sizing: border-box;

    width: 100%;
    height: 540px;

    border: .5px solid #fff;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 15px;
}

.panelItem {
    box-sizing: border-box;

    padding: 0px 45px;

    border-radius: 10px;
    transition: .5s ease-in-out;
}
.iconContainer {

    width: 66px;
    height: 66px;

    border-radius: 10px;

    background-color: #FC4F4F;
    transition: .6s ease-in-out;

}

.iconTitle {
    padding-top: 15px;
    font-weight: 600;
}

    /* Active classes */


.activePanel {
    background-color: #FC4F4F;
    transform: translateY(-25px);
    color: #030812;
}

.activePanelIcon {
    background-color: #030812;
    
}

    /* Spesial class for corecting vsg icons */

.subIconhouse {
    transform: translateX(-6px) translateY(-2px);
}

.subIconGamepad {
    width: 27px;
    height: 19px;
}

.subIconPeopleZero {
    transform: translateX(15px) translateY(1px);
}

.subIconPeopleOne {
    transform: translateX(-15px) translateY(8px);
}

.subIconPeopleTwo {
    transform: translateX(-24px) translateY(-4px);
}

    /* https://codepen.io/sosuke/pen/Pjoqqp */
    /* https://stackoverflow.com/questions/22252472/how-to-change-the-color-of-an-svg-element */
.filterColor {
    filter: invert(70%) sepia(68%) saturate(6738%) hue-rotate(333deg) brightness(100%) contrast(86%);
}

    /* Dev block */

.development {
    padding-top: 80px;
}

.devTitle {
    font-size: 33px;
}

.devSubTitle {
    width: 545px;
    padding: 36px 0px;
    color: #B2B2B2;
}

.devImgSocial {
    position: absolute;

    width: 426px;
    height: 271px;

    background: url(./src/img/social.jpg);
    background-size: 100%;
    border-radius: 10px 70px;
}

.devImgSocialSvg {
    position: relative;

    width: 458px;
    height: 285px;
    left: -15px;
    top: -6px;
}

.devImgInovations {
    position: absolute;

    width: 240px;
    height: 159px;

    background: url(./src/img/inovations.jpg);
    background-size: 100%;
    border-radius: 10px 70px;

}

.devImgInovationsSvg {
    position: relative;

    width: 251px;
    height: 171px;
    top: -6px;
    left: -5px;
}

.devImgCyber {
    position: absolute;

    width: 216px;
    height: 138px;

    background: url(./src/img/cyber.jpg);
    background-size: 100%;
    border-radius: 70px 10px;

}

.devImgCyberSvg {
    position: relative;

    width: 224px;
    height: 149px;
    top: -5px;
    left: -5px;
}


.devImg {
    height: 538px;
}

.social {
    position: absolute;
}

.cyber {
    position: relative;
    top: -165px;
    left: 70px;
}

.inovations {
    position: relative;
    top: 205px;
    left: -275px;
}

    /* Accords */

.devAccord {
    gap: 12px;
}

.devAccordItem {
    box-sizing: border-box;

    width: 545px;
    height: 70px;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */

    border: 1px solid #fff;
    border-radius: 15px;

    padding: 20px 25px;
    gap: 20px;

    transition: .4s ease-in-out;
}

.devAccordItemActive {
    height: 164px;
    background-color: #FC4F4F;
    color: #030812;
    border: none;
}

.accordContent {
    display: none;
    transition: .6s;
    color: #030812;
}

.accordContentActive {
    display: block;
}

.accordIconReverse {
    transform: rotate(-180px);
}

.devIconCon {
    width: 100%;
    background-color: #FC4F4F;
    border-radius: 5px;
    width: 28px;
    height: 27px;

}

.devIconConActive {
    background-color: #030812;
}

.devIcon {
    width: 15px;
    height: 15px;
}

.accordText {
    width: 400px;
}

.accordTitle {
    font-weight: 400;
    font-size: 16px;
    color: #B3B3B3;
    text-align: left;
}

.accordTitleActive {
    color: #030812;
    font-weight: 700;
}

.accordArrow {
    transform: rotate(180deg);
}

    /* Ciptakan */

.ciptakan {
    padding-top: 100px;
}

.ciptakanImgTechno {
    position: absolute;

    width: 458px;
    height: 302px;

    background: url(./src/img/techno.jpg);
    background-size: 100%;
    border-radius: 10px 70px;
}

.ciptakanSvgTechno {
    position: relative;

    width: 473px;
    height: 318px;
    left: -8px;
    top: -7px;
}

.ciptakanSubTitle {
    width: 423px;
    padding: 36px 0px;
    color: #B2B2B2;
}

.ciptakanCardItem {
    width: 135px;
    height: 170px;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 15px;

    border: 1px solid #fff;
    gap: 16px;
}

.ciptakanCardItemActive {
    background-color: #FC4F4F;
    border: none;
}

.ciptakanCards {
    gap: 30px;
}

.ciptakanIconCon {
    width: 40px;
    height: 40px;

    border-radius: 5px;

    background-color: #FC4F4F;
    transition: .6s ease-in-out;
}

.ciptakanIconConActive {
    background-color: #030812;
}

.ciptakanIconTitle{
    width: 70px;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;

    color: #B3B3B3;
}

.ciptakanIconTitleActive {
    color: #030812;
    font-weight: 600;
}

.ciptakanIcon {
    width: 20px;
    height: 20px;
}


.ciptakanImgInovations {
    position: absolute;

    height: 186px;
    width: 282px;    

    background: url(./src/img/inovations.jpg);
    background-size: 100%;
    border-radius: 10px 70px;
}

.ciptakanSvgInovations {
    position: relative;

    width: 290px;
    height: 195px;
    left: -3px;
    top: -5px;
}

.ciptakanTechno {
    position: absolute;
}

.ciptakanInovations {
    position: relative;

    top: 100px;
    left: 250px;
}

    /* Invite */

.invite {
    margin-top:  100px;;

    width: 100%;
    height: 350px;

    background: linear-gradient(90.54deg, #FF7070 -38.38%, #FF8282 49.51%, #FF7070 135.35%);
    border-radius: 30px;

    gap: 25px;
    padding: 35px;
}

.inviteTile {
    color: #030812;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
}

.inviteSubTile {
    width: 500px;
    text-align: center;
    color: #030812;
    font-weight: 300;
    font-size: 16px;
}

.inviteBtn {
    color: #FF7070;

    width: 200px;
    height: 55px;

    background: #000000;
    border-radius: 15px;

    font-weight: 500;
    font-size: 16px;
}

    /* links */

.linksMeta {
    margin-top: 100px;
}

.linkItemBlock {
    background: #FC5050;
    border-radius: 30px;
    width: 520px;
    height: 280px;
    padding: 35px 45px;
    gap: 15px;
}

.linksTitle {
    font-weight: 600;
    font-size: 36px;
    color: #000;
}

.linksSubTitle {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.linkBtn {
    color: #000000;
    background: none;

    width: 150px;
    height: 60px;
    border: 1px solid #000000;
    border-radius: 30px;
    margin-right: 10px;

    transition: .4s ease-in-out;
}

.linkBtn:hover {
    background-color: #000;
    color: #FC4F4F;
}


    /* footer */

.footer {
    font-family: 'Urbanist';
    font-style: normal;
    padding-top: 125px;
}

.footerLeftBlock {
    gap: 30px; 
}

.footerLogoTitle {
    padding-left: 20px;
    font-weight: 700;
    font-size: 32px;
}

.footerLogoSubTitle {
    padding-bottom: 25px;
    width: 470px;
    font-weight: 700;
    color: #8393AF;
}

.footerDetailsItem {
    padding: 15px 0px;
}

.footerDetailsIcon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 48px;
    height: 48px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 800px;
}

.footerDetailsItemContainer {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 15px;
}

.footerDetailsInfoSubTitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #8393AF;
}

.phone {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.infoItemTitle {
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 24px;
}

.infoItem {
    margin: 20px 0px;

    color: #8393AF;
    font-weight: 700;
    font-size: 14px;
}

.cop {
    font-weight: 700;
    font-size: 14px;
    color: #8393AF;
}

.afterInfoIcon {
    display: flex;
    flex-direction: row;
}

.afterInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.backIcon {
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 800px;
    width: 48px;
    height: 48px;
}









